<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo error
      molestias et architecto consectetur quod aliquid? Eligendi neque, dolorum
      eum reiciendis veniam veritatis expedita, repellat et fugiat recusandae
      quasi maiores!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt facere,
      accusantium impedit voluptatem asperiores labore ex placeat excepturi
      voluptate autem fugit suscipit vero quaerat corporis cumque? Cupiditate
      voluptatum sapiente iure.
    </p>
  </body>
</html>
